<layout-use("./layout.marko")>
  <layout-put into="body">
    <h1>${data.title}</h1>
    <h2 if(data.teams.length)>Standings:</h2>
      <ul>
          <li for (team in data.teams)>
            ${team.name}
          </li>
      </ul>
  </layout-put>
</layout-use>
