<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Yahoo (OAuth) Example</title>
	</head>
	<body>
		<% if (!user) { %>
			<p>
			<a href="/ftff">Home</a> |
			<a href="/ftff/login">Log In</a>
			</p>
		<% } else { %>
			<p>
			<a href="/ftff">Home</a> |
			<a href="/ftff/account">Account</a> |
			<a href="/ftff/logout">Log Out</a>
			</p>
		<% } %>
		<%- body %>
	</body>
</html>
